@import "tailwindcss";

:root {
  --background: #c7c7c7;
  --foreground: #171717;

  --loader-gradient:
    in oklab, var(--background) 0%, var(--background) 50%,
    var(--foreground) 50%, var(--foreground) 100%;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-serif: var(--font-crimson-serif);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #dddddd;
  }
}

body {
  @apply font-serif;
  @apply bg-background;
  @apply text-foreground;
  @apply min-w-[18rem];
}

header.page-banner {
  @apply relative;
  @apply w-full;
  @apply text-[1.6rem];
  @apply py-[1.5rem] px-[2.3rem];
  @apply max-sm:px-[1.8rem];
  @apply z-10;
}
header.page-banner .title {
  @apply text-[1.8rem] font-medium;
}
header.page-banner .title a {
  @apply px-[0.2rem] -mx-[0.2rem] rounded-[0.2rem];

  &:focus-visible {
    @apply shadow-none;
    @apply outline-[0.2rem] outline-foreground/50 outline-offset-[0.2rem];
  }
}

/* .page-bg {
  @apply absolute inset-0;
  @apply overflow-hidden;
  @apply pointer-events-none;
}

.page-bg img {
  @apply relative object-cover object-center;
  @apply w-full h-full;
  @apply opacity-60;
} */

section {
  @apply relative;
  @apply flex w-full;
  @apply px-[2.3rem] py-[1.2rem] gap-[1.5rem];
  @apply max-sm:px-[1.8rem];

  &:last-child {
    @apply mb-[1.2rem];
  }
}

section h2 {
  @apply text-[2.6rem];
  @apply flex items-center;
  @apply gap-[0.6rem];
}
section h2.centered {
  @apply text-center;
}
section h2.with-sep {
  @apply @container;

  &::after,
  &.centered::before {
    @apply content-[""] @[20rem]:flex-1;
    @apply bg-foreground;
    @apply w-full h-[0.16rem];
    @apply mt-[0.5rem];
  }
}

section .text-col {
  @apply block w-full;
}
section .text-col.links {
  @apply flex-2;
}

section p.subtitle {
  @apply text-[1.2rem] text-center;
  @apply text-foreground/75;
}

section .text-col p {
  @apply text-[1.3rem]/relaxed font-light;
}
section .text-col p.link {
  @apply wrap-anywhere;
  @apply rounded-[0.5rem] mb-[0.5rem];

  &:hover,
  &:has(a:focus-visible) {
    @apply bg-foreground/10;
  }
  &:has(a:focus-visible) {
    @apply outline-[0.2rem] outline-foreground/65 outline-offset-[0.15rem];
  }
  &:has(a:active) {
    @apply bg-foreground/20;
  }

  &:hover b,
  &:has(a:focus-visible) b {
    @apply underline;
  }

  & .tabler-icon {
    @apply inline;
    @apply -my-[1rem];
    @apply -translate-y-[0.1rem];
  }
  & .tabler-icon.pdf-link {
    @apply w-auto h-auto aspect-[1.5];
    @apply bg-foreground/60 text-background;
    @apply px-[0.2rem] mx-[0.3rem] rounded-[0.3rem];
    @apply scale-[0.9];
  }
  & .tabler-icon.pdf-link > * {
    @apply scale-[1.3];
    @apply origin-center;
  }
}

section .text-col p.event,
section .text-col p.link a {
  @apply -indent-[1.5rem];
}
section .text-col p.event {
  @apply ml-[1.5rem] mb-[0.8rem];
}
section .text-col p.link a {
  @apply block;
  @apply pl-[2.3rem] pr-[0.8rem] py-[0.4rem];

  &:focus-visible {
    @apply shadow-none;
    @apply outline-none;
  }
}
section .text-col p.link b {
  @apply font-semibold;
}
section .text-col p.link i {
  @apply text-[0.9em];
}

section.about-me {
  @apply flex-row-reverse max-md:flex-col;
}
section.about-me .self-photo {
  @apply shrink-0;
  @apply w-[15rem] h-fit aspect-square max-w-full;
  @apply max-md:mx-auto;
  @apply overflow-hidden rounded-full;
  @apply pointer-events-none;
}
section.about-me .self-photo img {
  @apply relative object-cover object-center;
  @apply w-full h-full;
}
section.about-me .text-col {
  @apply max-md:text-justify;
}

section.papers-events {
  @apply max-lg:flex-col;
}
section.papers-events h2,
section.products h2 {
  @apply text-[2rem];
  @apply mb-[0.5rem];
}
section.papers-events .text-col p,
section.products .text-col p {
  @apply text-[1.3rem]/snug;
}

section.papers-events .text-col.events {
  @apply flex-1;
  @apply lg:min-w-[22rem] lg:max-w-[65vh];
  @apply bg-foreground/5;
  @apply px-[1rem] pt-[0.5rem] pb-[1rem] rounded-[0.5rem];
}

section.papers-events .text-col.events i {
  @apply font-medium;
  @apply mr-[0.5rem];
}

a.main-cta,
button.primary {
  @apply flex;
  @apply justify-center items-center;
  @apply relative;
  @apply w-fit box-border;
  @apply bg-foreground/80;
  @apply text-[1.5rem] text-background font-semibold;
  @apply px-[1.4rem] py-[0.5rem] gap-[0.5rem] rounded-[0.5rem];
  @apply cursor-pointer;
  @apply transition;

  &:hover {
    @apply bg-foreground/75 dark:bg-foreground/90;
  }
  &:active {
    @apply bg-foreground/90 dark:bg-foreground/70;
  }
  &:focus-visible {
    @apply shadow-none;
    @apply outline-[0.2rem] outline-foreground outline-offset-[0.15rem];
  }
  &:disabled {
    @apply bg-foreground/50;
    @apply cursor-[initial];
  }

  & .tabler-icon {
    @apply -mr-[0.2rem];
    @apply stroke-[2.4];
  }

  /* &[data-loading] {
    @apply rounded-[0.8rem];
  }
  &[data-loading]::after {
    @apply block;
  } */
}
a.main-cta {
  @apply mt-[1.5rem];
}

section:has(a.main-cta) + section.paper-events .text-col.events {
  @apply -translate-y-[4rem] -mb-[4rem];
}

section.contact form {
  @apply flex flex-col;
  @apply w-[80vw] max-w-[50rem];
  @apply mx-auto gap-[1rem];

  &[inert] {
    @apply opacity-0;
  }
}
section.contact .success-overlay {
  @apply absolute inset-0;
  @apply flex flex-col items-center text-center;
  @apply p-[inherit];
  @apply transition-opacity;

  &::before,
  &::after {
    @apply content-[""];
    @apply flex-1;
  }

  &[inert] {
    @apply opacity-0;
  }
}

section.contact .success-overlay .tabler-icon.success {
  @apply w-[50%] max-w-[20vh] h-auto aspect-square;
  @apply stroke-[1.2] opacity-65;
}

.input-row {
  @apply flex max-md:flex-col;
  @apply w-full;
  @apply gap-[0.6rem] max-md:gap-[1rem];
}

.input-field {
  @apply relative;
  @apply flex flex-col;
  @apply w-full;

  &:has(input:focus) label,
  &:has(textarea:focus) label {
    @apply font-semibold;
  }

  &:has(textarea)::after {
    @apply content-[""];
    @apply absolute bottom-[0.2rem] right-[0.2rem];
    @apply border-[0.3rem] rounded-br-[0.2rem];
    @apply border-r-foreground border-b-foreground;
    @apply border-l-transparent border-t-transparent;
    @apply pointer-events-none;
    @apply opacity-50;
  }
}
.input-field label {
  @apply text-[1.2rem] text-foreground/80;
  @apply mb-[0.1rem];
}
.input-field label .star {
  @apply mx-[0.2rem];
  @apply opacity-65;
}

input,
textarea {
  @apply w-full;
  @apply text-[1.2rem];
  @apply bg-foreground/20 dark:bg-foreground/15;
  @apply px-[0.8rem] py-[0.5rem] rounded-[0.4rem];

  &:hover {
    @apply bg-foreground/25 dark:bg-foreground/20;
  }
  &:focus {
    @apply outline-[0.2rem] outline-foreground/75;
  }

  &.error {
    @apply bg-rose-700/20;
    @apply outline-rose-950/75;
  }
}
textarea {
  @apply h-[10rem];
  @apply resize-y;

  &::-moz-resizer,
  &::-webkit-resizer {
    @apply hidden;
  }
}
